#content{
	background-color: #8080802b;
	width: 80%;
	max-width: 1000px;
	margin: auto;
}
#header{
	background-color: yellow; 
	width: 100%;
	border-style: solid; 
}
#menu{
	background-color: orange;
	width: 100%;  
	border-style: solid;
}
#body{
	width: 100%;
	background-image: url(../img/tacochido.jpg); 
	background-position: center;
	background-repeat: repeat;
}
#sidebar{
	width: 20%;
	display: inline-block; 
	min-height: 200px;
	border-style: solid;
}
#main{
	width: 57%;
	display: inline-block; 
	min-height: 200px;
	border-style: solid;
}
#others{
	width: 20%;
	display: inline-block; 
	min-height: 200px;
	border-style: solid;
}
#footer{
	background-color: orange;
	width: 100%;  
	border-style: solid;
}
#menu ul{
	list-style: none; 
    margin-block-start: 0;
    margin-block-end: 0; 
}
#menu ul li{
	display: inline; 
	margin-left: 10px;
}
#logo{
	width: 80%;
	display: inline-block;
}
#buscador{
	width: 19%;
	display: inline-block;
}
#sidebar h3{
	padding: 0;
	margin: 0;
}
#sidebar ul{
	list-style: none;
	padding: 0;
	margin:0;
}
.content_post img{
	width: 100px;
	float: left;
	margin:5px;
}
.post{

	margin: 20px 10px 0px 10px;
	
	border-top-style: dashed;
	border-right-style: double;
	border-bottom-style: dotted;
	border-left-style: solid;

	border-top-width: 5px;
	border-right-width: 1em;
	border-bottom-width: thick;
	border-left-width: thin;/**/

	border-top-color: #CC0000;
	border-right-color: blue;
	border-bottom-color: #00FF00;
	border-left-color: green;
}
#links{
	width: 80%;
	display: inline-block;
}
#links ul{
	list-style: none; 
}
#links li{ 
	display: inline-block;
}
#copy{
	width: 19%;
	display: inline-block;
}
h1{
	/*position: relative;
	left: 2em;*/
	/*position: fixed;*/
}